/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------Style-------------------------- */

body {
    background-color:#aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h4 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p {
    line-height: 24px;
}

header, main, footer {
    width: 1024px;
    background-color: #d4e9e7;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 1004px;
    padding: 10px;
}

header {
    height: 400px;
    position: relative;
    margin: 0 auto;
}

header img {
    position: absolute;
    top: 0; left: 0;
}

header h1{
    position: absolute;
    text-align: center;
    width: 1024px;
    top: 200px;
    font-size: 64px;
    color: white;
    font-weight: normal;
}

header nav {
    position: absolute;
    bottom: 2px;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    color: solid black;
    width: 1024px;
    margin: 0 auto; padding: 0;
    background-color:;
}

nav ul li {
    display: inline;
    margin: 0; padding: 0;
   
    }

nav ul li a {
    display: inline-block;
    margin: 0; padding: 0;
    width: 320px;
    
    text-decoration: none;
    color: black;
    }

nav ul li:first-child {
    border-right: 1px solid black;
  }

nav ul li:last-child {
  border-left: 1px solid black;
  }

article img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

article p {
    line-height: 22px;
}

article ul{
    line-height: 16px;
    padding: 5px 10px 10px 20px; 
    list-style: disc;
}
footer {
    padding-bottom: 100px;
    padding-top: 20px;
}

footer p {
    text-align: right;
    margin-right: 30px;
}

.containerform {
    border: 1px solid black;
    padding: 20px 10px 5px 15px; 
    line-height: 20px;
    
}
input[type=text] {
    width: 970px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
}

input[type=email] {
    width: 970px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
}

input[type=text]#ymessage {
    width: 970px;
    height: 100px;
    padding: 12px 20px;
    margin: 1px;
    box-sizing: border-box;
    outline: none;
}

input[type=submit] {
    background-color: #d4e9e7;
    border: solid;
    border-width: 1px;
    color: black;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 10px;
    margin: 10px 2px;
    cursor: pointer;
}